#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing_message {
    #title {
        font-size: 25px;
        color: black;
    }
}

@keyframes UpDown {
    0%, 100% {
        margin-top: 12%;
      }
      50% {
        margin-top: 13%;
      }
}

#arrow_down {
    position: absolute;
    padding-bottom: 30px;
    animation: UpDown 1s linear infinite;
}

