@import "helpers/screen_sizes.scss";
@import "helpers/colors.scss";

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: $text-color;
    font-size: 35px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 3vmin;
    }
    @media (min-width: $breakpoint-desktop) {
        width: auto;
        padding-bottom: 0;
    }
    #name {
        color: $secondary-color;
    }
}

.landing_message {
    color: $text-color;
    margin-top: 30vmin;
    font-size: 17px;
    width: 70%;

}

.icons_section {
    img {
        height: 70px;
        width: 80px;
    }
    display: flex;
    justify-content: space-around;

}

@keyframes UpDown {
    0%, 100% {
        margin-top: 20%;
      }
      50% {
        margin-top: 25%;
      }
}

#arrow_down {
    color: $secondary-color;
    position: absolute;
    animation: UpDown 1s linear infinite;
}

