@import "stylesheets/helpers/colors.scss";

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient($top-body, $low-body);
}


